﻿@using MauiBlazor.Models
@using MauiBlazor.Services

@inject IAnimeService AnimeService
@inject IAlertService AlertService


<div style="padding: 5px, 10px; border: 1px solid #ccc;"  @onclick="() => ShowDetails(Anime.Id)" >
    <p>@Anime.Title - (@Anime.Rating)</p>
</div>


@code {
    [Parameter]
    public AnimeModel Anime { get; set; }

    
    public async Task ShowDetails(int animeId)
    {
        var anime = await AnimeService.GetAnime(animeId);
        await AlertService.ShowAlert("Anime details", $"Anime name: {anime.Title}\nAnime rating: {anime.Rating}", "Ok");
    }
}