﻿@page "/anime"
@inject IAnimeService AnimeService
@inject IAlertService AlertService
@using MauiBlazor.Components
@using MauiBlazor.Models
@using MauiBlazor.Services

<h1>Anime</h1>

<p>A list of some animes.</p>

@if(!HaveAnime) 
{
    <p>No animes found.</p>
} else 
{
    <ul>
        @foreach (AnimeModel anime in Animes) 
        {
            <li> <AnimeOverview Anime="anime" /> </li>
        }
    </ul>
}

@code 
{
    public bool HaveAnime { get => Animes.Count > 0; }

    public List<AnimeModel> Animes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var stuff = await AnimeService.GetAnimes();
        Animes = stuff.ToList();
    }
}